body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

form {
    border: 1px solid #000000;
    padding: 80px 72px;
    width: 15%;
    
}
 h1{
    text-align: center;
 }
label {
    display: block;
    margin-bottom: 5px;
    font-weight:bold;
    font-size: 125%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    font-size: 100%;
    border: 1px solid #ddd;
    padding: 20px 20px;
    margin-bottom: 18px;
    outline: none;
    transition: border-color 0.2s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #0091ff;
}

input[type="submit"] {
    width: 100%;
    background: #d0d0d0;
    border: none;
    padding: 20px;
    font-size: 125%;
    font-weight: bold;
    cursor: pointer;
    margin-top: 6px;
    transition: background 0.2s;
}

input[type="submit"]:hover { background: #a5a5a5; }

a {
    display: block;
    text-align: center;
    margin-top: 16px;
    font-size: 125%;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.error{
    color: red;
}
@media (max-width: 1200px) {
    form {
        width: 30%;
    }
}

@media (max-width: 768px) {
    form {
        width: 60%;
        padding: 60px 48px;
    }
}

@media (max-width: 480px) {
    form {
        width: 90%;
        padding: 40px 24px;
    }
}